body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8fa;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

.dribbble img {
  display: block;
  height: 28px;
}

.iconcard {
    background: #ffffff;
    box-shadow:  16px 16px 64px #DDE3E6, 
                 -16px -16px 64px #ffffff;
    border-radius: 8px;
    border: 0px solid #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
    margin: 24px;
}

.iconcard:hover {
    border: 0px solid #ffffff;
    background-color: #fff;
    box-shadow:  inset 16px 16px 64px #DDE3E6, 
                 inset -16px -16px 64px #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
}

.iconcard2 {
    background: #FDE23D;
    box-shadow:  16px 16px 64px #FFFADF, 
                 -16px -16px 64px #ffffff;
    border-radius: 8px;
    border: 0px solid #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
    margin: 24px;
}

.iconcard2:hover {
    border: 0px solid #ffffff;
    background-color: #6DD400;
    box-shadow:  16px 16px 64px #DFFFE0, 
                 -16px -16px 64px #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
}

.iconcard:hover .img-responsive {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -webkit-transform: rotate(180deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(180deg);
    /* Opera */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.iconcard:hover .img-responsive2 {
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    /* IE 9 */
    -moz-transform: rotate(5deg);
    /* Firefox */
    -webkit-transform: rotate(5deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(5deg);
    /* Opera */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.ding {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.btn-icon {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 24%;
}

.btn-icon svg {
  width: 40px;
  height: 40px;
  margin: 40px;
  fill: #FF257F;
}

.btn-icon2 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.btn-icon2 svg {
  width: 40px;
  height: 40px;
  margin-left: 28px;
  margin-top: 48px;
  fill: #FF257F;
}

.btn-icon2:hover svg {
  width: 40px;
  height: 40px;
  margin-left: 56px;
  margin-top: 48px;
  fill: #FF257F;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}





    